#body {
  background-color: rgb(252, 205, 255);
  margin-bottom: 300px;
}

#allnation {
  text-align: center;
}

#nation {
  color: purple;
}

#each {
  color: orange;
}

#countryInfo {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -10px;
  width: fit-content;
}

#countryInfo h2 {
  color: #007bff;
}

#countryInfo p {
  margin: 5px 0;
}
